%matplotlib inline

In [1]:
import numpy as np
import pandas as pd
from matplotlib import pyplot as plt

import re
import csv

import os

### Individual Games

Read in data on individual games

In [2]:
# make sure there's a date and csv
meta_re = re.compile('\_(\d{4})-(\d{2})-(\d{2})-(\d*).*(?=csv)', re.DOTALL)

In [3]:
data_dir = '../data_140416///'
game_data = []

for file in os.listdir(data_dir):
    meta_info = set()
    meta_match = meta_re.search(file)
    
    if meta_match:
        meta_info = meta_match.groups()
        date = '-'.join(meta_info[:-1])
        g_id = meta_info[-1]
        
        with open(data_dir + file, 'rb') as infile:
            reader = csv.reader(infile)
            for row in reader:
                if 'Duration' not in row:
                    full_row = row
                    full_row.append(row[((row[0] == row[2]) + 1) / 2])
                    game_data.append([date, g_id] + full_row)
            infile.close()

In [4]:
game_data_cols = ['date', 'game_id', 'player1', 'player2', 'winner', 'stripes', 'solids', 'duration', 'loser']
df_games = pd.DataFrame(game_data, columns=game_data_cols)

In [5]:
df_games['date'] = pd.to_datetime(df_games.date)
df_games['duration'] = df_games.duration.astype(float)
df_games['ind'] = 1

In [6]:
df_games = df_games[((df_games.player1 != '') & (df_games.player2 != ''))]

In [7]:
df_games

,date,game_id,player1,player2,winner,stripes,solids,duration,loser,ind
0,2017-01-26,0815,SPM,JDH,SPM,SPM,JDH,9.750000,JDH,1
1,2017-01-26,1141,JDH,GJZ,GJZ,JDH,GJZ,12.666667,JDH,1
2,2017-01-26,1337,MAG,JDH,MAG,MAG,JDH,13.600000,JDH,1
3,2017-01-26,1624,GJZ,JD,GJZ,GJZ,JD,19.450000,JD,1
4,2017-01-27,1412,JDH,SPM,JDH,SPM,JDH,9.516667,SPM,1
5,2017-01-27,1449,JD,JDH,JDH,JD,JDH,13.850000,JD,1
6,2017-01-30,1156,SPM,GJZ,GJZ,SPM,GJZ,11.583333,SPM,1
7,2017-01-30,1318,GJZ,JDH,GJZ,JDH,GJZ,10.766667,JDH,1
8,2017-01-30,1330,JDH,GJZ,JDH,JDH,GJZ,11.833333,GJZ,1
9,2017-01-30,1430,JDH,JD,JDH,JD,JDH,7.750000,JD,1
11,2017-01-30,1441,JD,JDH,JDH,JD,JDH,13.366667,JD,1
12,2017-01-30,1558,GJZ,ATN,GJZ,ATN,GJZ,9.783333,ATN,1
13,2017-01-30,1713,RL,JD,RL,JD,RL,12.700000,JD,1
14,2017-01-31,1054,JDH,GJZ,GJZ,JDH,GJZ,10.500000,JDH,1
15,2017-01-31,1105,GJZ,JDH,GJZ,JDH,GJZ,13.000000,JDH,1
16,2017-01-31,1438,JDH,GJZ,GJZ,JDH,GJZ,11.133333,JDH,1
17,2017-02-01,1339,JDH,AH,JDH,AH,JDH,7.233333,AH,1
18,2017-02-01,1410,JDH,GJZ,JDH,JDH,GJZ,15.866667,GJZ,1
19,2017-02-02,1155,GJZ,ATN,GJZ,GJZ,ATN,18.700000,ATN,1
20,2017-02-02,1422,JDH,GJZ,GJZ,JDH,GJZ,10.716667,JDH,1
22,2017-02-02,1524,GJZ,JDH,JDH,GJZ,JDH,10.916667,GJZ,1
23,2017-02-02,1536,JDH,GJZ,GJZ,GJZ,JDH,7.133333,JDH,1
24,2017-02-03,0955,SPM,JDH,JDH,JDH,SPM,7.150000,SPM,1
25,2017-02-03,1302,GJZ,JDH,GJZ,JDH,GJZ,14.450000,JDH,1
26,2017-02-03,1449,JDH,GJZ,JDH,JDH,GJZ,9.950000,GJZ,1
27,2017-02-03,1618,AH,JDH,JDH,JDH,AH,8.633333,AH,1
28,2017-02-06,1315,JDH,RL,JDH,JDH,RL,17.183333,RL,1
29,2017-02-06,1510,JDH,GJZ,JDH,JDH,GJZ,29.433333,GJZ,1
30,2017-02-06,1712,GJZ,JDH,JDH,JDH,GJZ,12.516667,GJZ,1
31,2017-02-06,1727,RAL,GJZ,GJZ,RAL,GJZ,8.183333,RAL,1
...,...,...,...,...,...,...,...,...,...,...
142,2017-03-24,1505,JD,NAS,NAS,JD,NAS,10.250000,JD,1
143,2017-03-27,1308,GJZ,JDH,JDH,GJZ,JDH,7.850000,GJZ,1
144,2017-03-27,1554,JDH,CMP,JDH,JDH,CMP,10.950000,CMP,1
145,2017-03-27,1638,BRG,ATN,BRG,BRG,ATN,8.250000,ATN,1
146,2017-03-27,1732,BRG,GJZ,BRG,BRG,GJZ,10.217000,GJZ,1
147,2017-03-28,1218,JDH,JD,JD,JDH,JD,7.983000,JDH,1
148,2017-03-28,1321,NAS,JDH,JDH,NAS,JDH,6.000000,NAS,1
149,2017-03-28,1529,JDH,GJZ,GJZ,JDH,GJZ,8.900000,JDH,1
150,2017-03-29,1317,RL,JDH,JDH,JDH,RL,14.200000,RL,1
151,2017-03-29,1437,GJZ,MEW,GJZ,MEW,GJZ,10.817000,MEW,1
152,2017-03-29,1519,RL,JD,RL,RL,JD,10.167000,JD,1
153,2017-03-29,1552,JDH,JD,JDH,JD,JDH,11.983000,JD,1
154,2017-03-29,1605,JD,JDH,JDH,JDH,JD,8.783000,JD,1
155,2017-03-29,1616,JDH,MAG,JDH,MAG,JDH,7.833000,MAG,1
156,2017-03-30,1424,MAG,JDH,JDH,MAG,JDH,5.450000,MAG,1
157,2017-03-31,1543,SPM,GJZ,GJZ,SPM,GJZ,8.700000,SPM,1
158,2017-04-03,1220,JD,NAS,JD,NAS,JD,10.333000,NAS,1
159,2017-04-03,1355,RL,JD,JD,JD,RL,7.950000,RL,1
160,2017-04-03,1418,JD,Q,JD,NaN,NaN,1.000000,Q,1
161,2017-04-03,1632,RL,JD,JD,JD,RL,13.017000,RL,1
162,2017-04-04,1520,NAS,JD,JD,NAS,JD,11.883000,NAS,1
163,2017-04-04,1615,JDH,GJZ,GJZ,GJZ,JDH,13.900000,JDH,1
164,2017-04-05,1530,ATN,GJZ,GJZ,ATN,GJZ,13.550000,ATN,1
165,2017-04-06,1103,JD,JDH,JDH,JD,JDH,12.883000,JD,1
166,2017-04-06,1641,CMP,KPD,CMP,KPD,CMP,14.750000,KPD,1
167,2017-04-06,1821,JDH,JD,JDH,JD,JDH,12.983000,JD,1
168,2017-04-07,0942,CMP,JD,JD,JD,CMP,14.733000,CMP,1
169,2017-04-12,1413,BRG,GJZ,GJZ,GJZ,BRG,9.917000,BRG,1
170,2017-04-13,1547,SPM,GJZ,SPM,GJZ,SPM,15.467000,GJZ,1
171,2017-04-13,1603,MEW,GJZ,GJZ,GJZ,MEW,7.983000,MEW,1

### Aggregate head-to-head records

Head to head records:

In [8]:
games_h2h_ct = df_games[['winner', 'loser', 'ind']].groupby(['winner', 'loser']).sum().reset_index()
games_h2h = games_h2h_ct.pivot(index='loser', columns='winner', values='ind')

del games_h2h.columns.name
games_h2h.fillna(0, inplace=True)
games_h2h.reset_index(inplace=True)
games_h2h.set_index('loser', drop=True, inplace=True)
games_h2h.index.name = None

#games_h2h

In [9]:
all_players = set(games_h2h_ct.winner.values).union(set(games_h2h_ct.loser.values))

Adjust so that all players are included in both axes

In [10]:
for player in all_players:
    winners = games_h2h.columns
    losers = games_h2h.index.values
    
    if player not in winners:
        games_h2h[player] = 0
    
    if player not in losers:
        games_h2h.loc[player] = list(np.zeros(games_h2h.shape[1]))

Sort columns to make the matrix look nice

In [11]:
games_h2h = games_h2h.reindex_axis(sorted(games_h2h.columns), axis=1)
games_h2h.sort_index(inplace=True)

Add in total wins and losses for each player:

In [12]:
games_h2h['losses'] = games_h2h.sum(axis=1)
games_h2h.loc['wins'] = list(games_h2h.sum(axis=0))[:-1] + [0]

#### Head-to-head heatmap 

See [stackoverflow](http://stackoverflow.com/questions/11917547/how-to-annotate-heatmap-with-text-in-matplotlib) for borrowed code for labeling text. For some reason need to run this (and sorting below as well) twice in order to get correct index ordering.

In [13]:
scale = 0.75
fig, ax = plt.subplots(figsize = (scale * games_h2h.shape[1], scale * games_h2h.shape[0]))
heatmap = ax.pcolor(games_h2h, cmap = "Blues")

# put the major ticks at the middle of each cell
ax.set_xticks(np.arange(games_h2h.shape[1])+0.5, minor=False)
ax.set_yticks(np.arange(games_h2h.shape[0])+0.5, minor=False)

ax.set_xticklabels(games_h2h.columns)
ax.set_yticklabels(games_h2h.index.values)

ax.invert_yaxis()
ax.xaxis.tick_top()

for y in range(games_h2h.shape[0]):
    for x in range(games_h2h.shape[1]):
        val = games_h2h.iloc[y, x]
        opp_val = games_h2h.iloc[x, y]
        if val or opp_val:
            plt.text(x + 0.5, y + 0.5, '%.1d' % val,
                     horizontalalignment='center',
                     verticalalignment='center',
                     )

In [14]:
plt.show()

In [15]:
print list(games_h2h.index.values)
print list(games_h2h.columns)

['AH', 'ASM', 'ATN', 'BRG', 'CMP', 'GJZ', 'JD', 'JDH', 'KPD', 'MAG', 'MEW', 'NAS', 'NS', 'NaN', 'Q', 'RAL', 'RL', 'RLK', 'SPM', 'wins']
['AH', 'ASM', 'ATN', 'BRG', 'CMP', 'GJZ', 'JD', 'JDH', 'KPD', 'MAG', 'MEW', 'NAS', 'NS', 'NaN', 'Q', 'RAL', 'RL', 'RLK', 'SPM', 'losses']

#### Quick hits

GZ stats

In [16]:
gz_games = df_games[((df_games.player1 == 'GJZ') | (df_games.player2 == 'GJZ'))]

In [17]:
print 'GZ win percentage: %.2f' % (len(gz_games[gz_games.winner == 'GJZ']) / float(len(gz_games)))

GZ win percentage: 0.62

How often does player who breaks win?

In [18]:
print 'Player 1 (breaker) win percentage: %.2f' % (float(len(df_games[df_games.player1 == df_games.winner])) / len(df_games))

Player 1 (breaker) win percentage: 0.53

### Elo Rating Systems

Elo parameters

In [19]:
init_avg = 1500.
sel_k = 20.
exp_div = 400.

kbase = 800.
denom_const = 40. # higher values mean greater weighting on initial games

#### Helper functions

In [20]:
def p_win_exp(p1, p2, div=exp_div):
    p_win = 1. / (1. + 10. ** ((p2 - p1) / div))
    
    #print 'P(win)', '%.2f' % p_win 
    return p_win

Simple $K$-factor

In [21]:
def new_score(p1r, p2r, score=1, k=sel_k):
    # if p1 wins, score is 1
    # if p1 loses, score is -1
    delta = k * (score - p_win_exp(p1r, p2r))
    
    #print 'Point delta', '%.2f' % delta
    return p1r + delta, p2r - delta

Adjusted $K$-factor

In [22]:
def new_score_kadj1(p1r, p2r, g1, g2, kbase=kbase, score=1):
    # if p1 wins, score is 1
    # if p1 loses, score is -1
    const = (score - p_win_exp(p1r, p2r))
    delta1 = (kbase / (denom_const + g1)) * const
    delta2 = (kbase / (denom_const + g2)) * const
    
#     print delta1, g1
#     print delta2, g2

    return p1r + delta1, p2r - delta2

#### Reset the Elo records

In [23]:
seq_info = pd.DataFrame(games_h2h.index)
seq_info.columns = ['player']

seq_info['simple_elo'] = init_avg
seq_info['adj_elo1'] = init_avg
seq_info['num_wins'] = 0.
seq_info['tot_games'] = 0.
seq_info = seq_info[seq_info.player != 'wins']

In [24]:
seq_info.set_index('player', inplace=True, drop=True)
seq_info.index.name = None

In [25]:
assert((seq_info.simple_elo.values == 1500.).all())
assert((seq_info.adj_elo1.values == 1500.).all())

#### Run through the game log:

In [26]:
for idx, row in df_games.iterrows():
    winner = row['winner']
    loser = row['loser']
    
    g1 = seq_info.loc[winner]['tot_games']
    g2 = seq_info.loc[loser]['tot_games']
    
    # update game counts and victories
    seq_info.loc[winner]['num_wins'] += 1
    seq_info.loc[winner]['tot_games'] += 1
    seq_info.loc[loser]['tot_games'] += 1
    
    # adjust elo across all systems
    (seq_info.loc[winner]['simple_elo'], seq_info.loc[loser]['simple_elo']) \
        = new_score(seq_info.loc[winner]['simple_elo'], seq_info.loc[loser]['simple_elo'])

    (seq_info.loc[winner]['adj_elo1'], seq_info.loc[loser]['adj_elo1']) \
        = new_score_kadj1(seq_info.loc[winner]['adj_elo1'], seq_info.loc[loser]['adj_elo1'],
                         g1, g2)

In [27]:
print seq_info.sort_values('simple_elo', ascending=False)

      simple_elo     adj_elo1  num_wins  tot_games
JDH  1672.990492  1604.360482      62.0       93.0
GJZ  1604.062404  1567.915410      56.0       90.0
JD   1557.184277  1519.773806      25.0       49.0
BRG  1518.560220  1517.252743       4.0        6.0
NaN  1518.365101  1518.359138       2.0        2.0
RLK  1504.417575  1503.368022       2.0        4.0
CMP  1495.639570  1493.453573       1.0        3.0
RL   1495.324673  1493.240771       3.0        7.0
ASM  1492.100015  1491.455870       0.0        1.0
Q    1491.093043  1490.276056       0.0        1.0
KPD  1489.833405  1489.788928       0.0        1.0
NS   1488.937011  1488.906991       0.0        1.0
MEW  1484.987476  1483.898144       0.0        2.0
RAL  1484.783773  1483.791234       0.0        2.0
MAG  1482.736682  1480.455400       2.0        7.0
AH   1480.398103  1480.450332       0.0        2.0
SPM  1477.619084  1476.789719       4.0       11.0
NAS  1436.019864  1436.154244       3.0       15.0
ATN  1324.947231  1359.024125       3.0       37.0

In [28]:
sum(seq_info.simple_elo) / init_avg

18.999999999999996